*.h5 filter=lfs diff=lfs merge=lfs -text
e:/Emergency_vehicle_identifier/Model/Model_Emergency_vehicles.h5 filter=lfs diff=lfs merge=lfs -text
Model/Model_Emergency_vehicles.h5 filter=lfs diff=lfs merge=lfs -text
